// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

    spawn-sh-at-startup "qs -c noctalia-shell"
    spawn-at-startup "sh" "-c" "ddcutil setvcp 10 90 -d 1; ddcutil setvcp 10 90 -d 2"
