layout {

    focus-ring {
        active-color   "#c2c3ed"
        inactive-color "#131316"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#c2c3ed"
        inactive-color "#131316"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#c2c3ed"
        inactive-color "#999ac2"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#c2c3ed80"
    }
}

recent-windows {
    highlight {
        active-color "#c2c3ed"
        urgent-color "#ffb4ab"
    }
}
