layout {

    focus-ring {
        active-color   "#fcb5ad"
        inactive-color "#171212"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#fcb5ad"
        inactive-color "#171212"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#fcb5ad"
        inactive-color "#7e4943"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#fcb5ad80"
    }
}

recent-windows {
    highlight {
        active-color "#fcb5ad"
        urgent-color "#ffb4ab"
    }
}
